/* Styles for login page */

body {
    background-color: #f8f4f4;
}

.navbar {
    padding: 10px;
}

.back-button {
    background-color: #ff944c;
    border: none;
    padding: 10px;
    padding-inline: 15px;
    color: white;
}

.fa-arrow-left {
    padding-right: 8px;
}

.container-center {
    text-align: center;
}

.login-ball {
    width: 200px;
    height: 200px;
    background-color: #90acfc;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0 auto;
    margin-bottom: 20px;
}

.login-title {
    color: white;
    font-size: 3.5rem;
}

.login-form {
    width: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline: auto;
}

.login-input {
    border-radius: 30px;
    border: none;   
    font-size: 18px;
}

.submit-button {
    padding-block: 10px;
}
/* // blue #2596be
// light blue #90acfc
// orange #ff944c
// red #ff5454 */

/* Styles for login page */

.container-dictionary {
    display: flex;
}
.dictionary-sidebar {
    background-color: #90acfc;
    width: 25%;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dictionary-board {
    width: 75%;
}

.dictionary-logo {
    padding: 10px;
}

ul {
    padding: 0;
}
.dictionary-sidebar-li {
    list-style-type: none;
    font-size: 2rem;
    margin: 0;
    color: white;
    line-height: 4rem;
}

.dictionary-sidebar-li--selected {
    background-color: #2596be;
}

.dictionary-sidebar-logout {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

.dictionary-board-search {
    width: 80%;
}

.dictionary-input {
    border: none;
}
.dictionary-input-button {
    border: none;
}
